<!DOCTYPE html>
<html>
    <head>
       <link rel="stylesheet" href="./css/style.css">
       <script src="./js/main.js"></script>
    </head>
    <body>
        <h1>{{>header}}</h1>

        <h1>{{title}}</h1>
        <h3>{{name}}</h3>

        <p>{{>footer}}</p>
    </body>
</html>